{% load static %}

<link rel="stylesheet" href="{% static 'appointment.css' %}" type="text/css" />


<header class="header">
    <div class="container-fluid">
      <div class="header-container" style="margin-left: 64px; margin-right: 64px;">
        <div class="header-logo">
          <a href="#" style="text-decoration: none;">
              <img src="" alt="MedConnect">
          </a>
        </div>
        <input type="checkbox" class="menu-btn" id="menu-btn">
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <nav class="navbar-menu">
          <ul class="nav">
              <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                <a href="{% url 'about' %}" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                  <a href="#services" class="nav-link">Services</a>
              </li>
              <li class="nav-item">
                  <a href="#latest_news" class="nav-link">Latest news</a>
              </li>
              <li class="nav-item">
                  <a href="{% url 'contact' %}" class="nav-link">Contact</a>
              </li>
          </ul>
      </nav>
        <nav class="navbar-menu">
            <ul class="nav">
                {% if user.is_authenticated %}
                <li class="nav-item">
                  <a href="{% url 'manage' %}" class="button">Manage</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'add_doctor' %}" class="button">Add Doctor</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'logout' %}" class="button">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                  <a href="{% url 'login' %}" class="button">Login</a>
                </li>
                <li class="nav-item">
                  <a href="{% url 'register' %}" class="button">Sign up</a>
                </li>
                {% endif %}
            </ul>
        </nav>
      </div>
    </div>
</header>
<hr width="100%" style="margin: auto;">
  {% block content %}
  {% endblock %}