{% extends "index.html" %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'appointment.css' %}" type="text/css" />
</head>
<style>
    .column {
        height: 80vh;
    }
</style>
{% include 'navbar.html' %}
<section style="height: 80vh;">
    <div class="container">
        <div class="row">
            <div class="col column" style="margin: 64px 0;">
                <h1>Dermatology at MedConnect</h1>
                <p style="line-height: 32px; margin-bottom: 32px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eligendi sit, minus laudantium asperiores nam blanditiis ut ea laboriosam! Nobis magni amet dignissimos assumenda reiciendis eos est veritatis ab voluptatibus odit?</p>
                <div class="d-flex">
                    <a href="{% url 'appointment' %}" class="button book-appointment">Book Appointment</a>
                </div>
            </div>
            <div class="col column">
                <img src="{% static 'images/medc.jpg' %}" alt="" height="100%" width="100%">
            </div>
        </div>
    </div>
</section>
{% endblock %}